// directories
.github export-ignore
.wordpress-org export-ignore

// files
.gitattributes export-ignore
.gitignore export-ignore

composer.lock export-ignore
LICENSE export-ignore
phpcs.xml export-ignore
README.md export-ignore
